{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="del_block">
        {% if object.is_active %}
{#            Уверены, что хотите удалить категорию {{ object.get_full_name }}?#}
            Уверены, что хотите удалить категорию {{ category.name }}?
        {% else %}
            Уверены, что хотите востановить категорию?
        {% endif %}
        <form method="post">
            {% if object.is_active %}
                <label><input type="checkbox" name="del_box" value="True">Удалить полностью</label>
                <br>
            {% endif %}
            {% csrf_token %}
            <input type="submit" class="btn btn-danger col-lg-12" value="Уверен">
        </form>
        <a href="{% url 'adminapp:category_list' %}" class="btn btn-success col-lg-12">Нет</a>
    </div>
{% endblock %}