{% extends "adminapp/base.html" %}
{% load static %}
{#{% load my_tags %}#}

{% block content %}
    <div class="admin_block">
        <div class="products_list_admin">
            <a class="admin_cross" href={% url 'adminapp:user_list' %}></a>
            <div>
                {% include 'adminapp/includes/inc_order_summary.html' %}
            </div>
            {% for item in object.orderitems.select_related %}
                <div class="order_record">
                    <img src="/media/{{ item.product.image }}"
                            {#                <img src="{{ item.product.image|media_folder_products }}"#}
                         alt="{{ item.product.short_desc }}">
                    <span class="category_name">
                   {{ item.product.category.name }}
               </span>
                    <span class="product_name">{{ item.product.name }}</span>
                    <span class="product_price">
                   {{ item.product.price }}&nbspруб
               </span>
                    <span class="product_quantitiy">
                   x {{ item.quantity }} шт.
               </span>
                    <span class="product_cost">
                    = {{ item.get_product_cost }}&nbspруб
               </span>
                </div>
            {% endfor %}
            <button class="btn btn-warning btn-round form-control last">
                <a href="{% url 'ordersapp:forming_complete' object.pk %}">
                    совершить покупку
                </a>
            </button>
            <button class="btn btn-default btn-round form-control last">
                <a href="{% url 'adminapp:orders_delete' object.pk %}">
                    {% if object.is_active %}
                        удалить
                    {% else %}
                        восстановить
                    {% endif %}
                </a>
            </button>
{#            <button class="btn btn-info btn-round form-control last">#}
{#                <a href="{% url 'adminapp:orders_list' object.user_id %}">#}
{#                    к списку заказов#}
{#                </a>#}
{#            </button>#}
        </div>
    </div>
    {#    <button class="btn btn-default btn-round form-control last">#}
    {#        <a href="{% url 'index' %}">на главную</a>#}
    {#    </button>#}
{% endblock %}