{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="admin_block">
        {% if object.is_active %}
            Уверены, что хотите удалить продукт {{ product.name }}?
            {#            Уверены, что хотите удалить продукт {{ object.get_full_name }}?#}
        {% else %}
            Уверены, что хотите востановить продукт?
        {% endif %}

        <form method="post">
            {#            <br>#}
            {% if object.is_active %}
                <label><input type="checkbox" name="del_box" value="True">Удалить полностью</label>
                <br>
            {% endif %}
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Уверен">
        </form>
        {#    <a href="{% url 'adminapp:product_list' category.pk %}" class="btn btn-success">Нет</a>#}
        <a href="{% url 'adminapp:products_all' %}" class="btn btn-success">Нет</a>
    </div>
{% endblock %}