{% if object.status == 'FM' %}
    <button class="btn btn-warning btn-round form-control last">
        <a href="{% url 'ordersapp:forming_complete' object.pk %}">
            совершить покупку
        </a>
    </button>
    <button class="btn btn-default btn-round form-control last">
        <a href="{% url 'ordersapp:delete' object.pk %}">удалить</a>
    </button>
{% endif %}
<a class="btn btn-info btn-round form-control last" href="{% url 'ordersapp:list' %}">
    к списку заказов
</a>
<a class="btn btn-default btn-round form-control last" href="{% url 'index' %}">
    на главную
</a>
