{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
        </div>
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="/media/{{ product.image }}" alt="">
                </div>
            </div>
            <div class="description">
                <h3 class="big-bold">{{ product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price"> {{ product.price|floatformat:2  }} <span>руб</span></p>
                <p class="price">{{ price_in_dollars|floatformat:2  }} <span>dol</span></p>
                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                {% if favorite %}
                    <a href="{% url 'favouritesapp:remove' product.pk %}" class="red-button">
                        удалить из избранного <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a href="{% url 'favouritesapp:add' product.pk %}" class="red-button">
                        добавить в избранное <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
{#                <div class="description-text">#}
{#                    <p>{{ product.short_desc }}</p>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
